body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    font-family: sans-serif;
}

li {
    float: left;
    font-family: sans-serif;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: sans-serif;
}

li a:hover {
    background-color:#cad2d9;
    font-family: sans-serif;
}
