<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <title>Kompetencer</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../CSS/Filter.css">
<link rel="stylesheet" type="text/css" href="../../CSS/Startside.css">
<header>
    <a href="Brugerside.html"><img id="CCC1" src='../../images/CCC1.png' alt="CCC" width="200" height="100"></a>

    <!-- NavBar -->
    <ul>
        <li><a href="/HTML/Ikke_logget_ind/Startside.html">Hjem</a></li>
        <li><a href="http://localhost:3500/consultants">Konsulenter</a></li>
        <li><a href="http://localhost:3500/Booking">Booking</a></li>
        <li><a href="http://localhost:3500/admin">Admin</a></li>
        <li><a href="http://localhost:3500/userskills">Ændre kompetence</a></li>
    </ul>
</header>
<br>
<br>
<!-- Nedenfor kalder vi vores id, defineret i TypeOfSkills.js, og sætter vores overskrifter på kolonnerne i vores table. Nederst kalder vi vores div på myData. -->
<body id="body">
<b>Type af kompetence (Kun for konsulenter)</b>
<table id="myTable">
    <thead>
    <tr>
        <th><b>ID</b></th>
        <th><b>beskrivelse</b></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div id="myData"></div>
<br>
<br>

</body>
<script src="../../Js/TypeOfSkills.js"></script>

</body>
</html>