<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <title>Kompetencer</title>
</head>
<body id="body">
<b>Type af kompetence (Kun for konsulenter)</b>
<table id="myTable">
    <thead>
    <tr>
        <th><b>ID</b></th>
        <th><b>beskrivelse</b></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div id="myData"></div>
<br>
<br>

</body>
<script src="../../Js/TypeOfSkills.js"></script>

</body>
</html>