<!DOCTYPE html>

<html lang="en">

<head>
    <title>Konsulenter</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../CSS/Filter.css">
<link rel="stylesheet" type="text/css" href="../../CSS/Startside.css">
<header>
    <a href="Brugerside.html"><img id="CCC1" src='../../images/CCC1.png' alt="CCC" width="200" height="100"></a>

    <!-- NavBar -->
    <ul>
        <li><a href="/HTML/Ikke_logget_ind/Startside.html">Hjem</a></li>
        <li><a href="http://localhost:3500/consultants">Konsulenter</a></li>
        <li><a href="http://localhost:3500/Booking">Booking</a></li>
        <li><a href="http://localhost:3500/admin">Admin</a></li>
        <li><a href="http://localhost:3500/userskills">Ændre kompetence</a></li>
    </ul>
</header>
<br>
<br>
<!-- Nedenfor indsætter vi vores filterfunktion fra Filter.js -->
<b>Søg efter kompetence ID:</b>
<input type="text" id="myInput" onkeyup="filterData()" placeholder="Skriv ID" title="Skriv ID">
<br>
<br>
<!-- Nedenfor kalder vi vores id, defineret i Filter.js, og sætter vores overskrifter på kolonnerne i vores table. Nederst kalder vi vores div på myData. -->
<body  id="body">
<table id="myTable">
        <thead>
        <tr>
            <th><b>Name</b></th>
            <th><b>Email</b></th>
            <th><b>Kompetence ID</b></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
<div id="myData"></div>
<br>
<br>
<br>
<b>Klik her for oversigt over kompetencer, og hvilke ID de har:</b>
<a href="http://localhost:3500/userskills">Kompetencer</a>
<br>
<br>
<br>

<script src="../../Js/Filter.js"></script>

</body>
</html>