<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link rel="stylesheet" type="text/css" href="../../CSS/Startside.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/Login.css">

</head>

<body onload="sendVidere()">

<div class="Navbar">

    <!-- NavBar -->
    <a href="Startside.html"><img id="CCC1" src='../../images/CCC1.png' alt="CCC" width="200" height="100"></a>
    <ul>
        <li><a href="Startside.html">Hjem</a></li>
        <a style = "float: right" id="Registrer" href="http://localhost:3500/formisak.html" title="Registrer">
            <button>Registrer Kunde</button>
            <a style = "float: right" id="Log Ind" href="http://localhost:3500/login" title="Log Ind">
                <button>Log Ind</button></a>
    </ul>

    <img src="../../images/panorama.jpg" alt="" style="width:100%">
    <table>
    <tb style="font-size:50px">Om Os</tb>
    <tb>
        <br>
        <br>
        <br> <b>Velkommen til Consulector </b>
        <br>
        <br>
        <br> En stærk IT virksomhed siden 2020. Vi tilbyder markedets hurtigeste og nemmeste program til konsulenthuse, som vil give sine kunder et nemt og hurtigt opslagsværktøj.
        <br>
        <br> Vores system gør det muligt for konsulenthusenes kunder at søge bland konsulenterne alt efter kompetencer, samt at booke et møde.
        <br>
        <br> Her på vores hjemmeside kan du booke tid til en uforpligtende snak med en af vores mange dygtige konsulenter.
    </tb>

</table>

<script src=../../../Kirkegården/SendVidere.js> </script>
<script src=../../../Kirkegården/RegisteringOgLogin.js> </script>
</body>
</html>