<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../CSS/Filter.css">
<link rel="stylesheet" type="text/css" href="../../CSS/Startside.css">
<header>
    <a href="Brugerside.html"><img id="CCC1" src='../../images/CCC1.png' alt="CCC" width="200" height="100"></a>

    <!-- NavBar -->
    <ul>
        <li><a href="/HTML/Ikke_logget_ind/Startside.html">Hjem</a></li>
        <li><a href="http://localhost:3500/consultants">Konsulenter</a></li>
        <li><a href="http://localhost:3500/Booking">Booking</a></li>
        <li><a href="http://localhost:3500/admin">Admin</a></li>
        <li><a href="http://localhost:3500/userskills">Ændre kompetence</a></li>
    </ul>
</header>
<body>
<!-- Nedenfor kalder vi vores http-request /bookin_create, som ved udfyldelse opretter en aftale i vores booking-system-->
<div>
    <br>
    <font size="6">Opret en aftale med en af vores konsulenter ved at udfylde nedenstående formular</font>
    <br>
    <br>
    <br>
    <form action="/booking_create" method="POST">
        <input placeholder = "Navn på konsulent" name="consultant_name"/>
        <input placeholder= "Email på konsulent" name="consultant_email"/>
        <input type="time" id="appt" min="09:00" max="18:00" placeholder= "Starttidspunkt for aftale" name="consultant_starttime"/>
        <input type="time" id="appt" min="09:00" max="18:00" placeholder= "sluttidspunkt for aftale" name="consultant_endtime"/>
        <input type ="date" placeholder= "Dato for aftale" name="consultant_date"/>
        <input placeholder= "Dit navn" name="client_Cname"/>
        <input placeholder= "Dit telefonnummer" name="client_Cphone"/>
        <input placeholder= "Din Email" name="client_Cemail"/>
        <button>Opret aftale</button>
    </form>
</div>
<br>
<br>
<br>
<!-- Nedenfor indsætter vi vores filterfunktion fra Booking.js -->
<b>Søg efter aftale på konsulenternes email:</b>
<input type="text" id="myInput" onkeyup="filterBookings()" placeholder="Skriv Email" title="Skriv Email">
<br>
<br>
</body>
<!-- Nedenfor kalder vi vores id, defineret i Booking.js, og sætter vores overskrifter på kolonnerne i vores table. Nederst kalder vi vores div på myData. -->
<body id="body">
<table id="myTable">
    <thead>
    <tr>
        <th><b>Navn på konsulenten</b></th>
        <th><b>Emailen på konsulenten</b></th>
        <th><b>Starttidspunkt for aftale</b></th>
        <th><b>sluttidspunkt for aftale</b></th>
        <th><b>Dato for aftale</b></th>
        <th><b>Navn på kunde</b></th>
        <th><b>Telefon på kunde</b></th>
        <th><b>Email på kunde</b></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div id="myData"></div>
<br>
<br>
<br>
<!-- Nedenfor kalder vi vores http-request /deletebooking, som ved udfyldelse sletter en aftale i vores booking-system-->
<b>Skriv din egen Email, starttidspunkt og startdato for den aftale, du ønsker at slette nedenfor:</b>
<br>
<br>
<form action="/deletebooking" method="POST">
    <input placeholder = "Email" name="bookingClient_Email"/>
    <input placeholder = "Navn" name="bookingClient_Name"/>
    <input type="time" id="appt" min="09:00" max="18:00" placeholder = "Starttidspunkt" name="bookingClient_StartTime"/>
    <button>Slet aftale</button>
</form>
</body>
<script src="../../Js/Booking.js"></script>
</html>