<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slet brugere</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../CSS/Filter.css">
<link rel="stylesheet" type="text/css" href="../../CSS/Startside.css">
<header>
    <a href="Brugerside.html"><img id="CCC1" src='../../images/CCC1.png' alt="CCC" width="200" height="100"></a>

    <!-- NavBar -->
    <ul>
        <li><a href="/HTML/Ikke_logget_ind/Startside.html">Hjem</a></li>
        <li><a href="http://localhost:3500/consultants">Konsulenter</a></li>
        <li><a href="http://localhost:3500/Booking.html">Booking</a></li>
        <li><a href="http://localhost:3500/delete.html">Admin</a></li>
    </ul>
</header>
<body>
<br>
<br>
<div>
    <br>
    <b>Skriv navnet på den kompetence, som du ønsker at tilføje:</b>
    <br>
    <br>
    <br>
    <form action="/skill_create" method="POST">
        <input placeholder = "Navn på kompetence" name="skill_name"/>
        <button>Opret kompetence</button>
    </form>
</div>
<br>
<br>
<br>
<br>
<b>Skriv Emailen på den bruger du ønsker at slette nedenfor:</b>
<br>
<br>
<form action="/delete2" method="DELETE">
    <input placeholder = "Email" name="customer_Email"/>
    <button>Slet</button>
</form>
    <br>
    <br>
    <br>
    <br>
    <b>Udfyld formularen nedenfor for at oprette en konsulent:</b>
    <br>
    <br>
    <div>
    <form action="/consultant_create" method="POST">
        <input placeholder = "Fornavn" name="consultantName"/>
        <input placeholder = "Efternavn" name="consultantLastname"/>
        <input placeholder= "Kodeord" name="consultantPassword"/>
        <input type=number placeholder= "Kompetence" name="consultantidSkill"/>
        <input placeholder= "Email" name="consultantEmail"/>
        <button>Opret bruger</button>
    </form>
        <b>Klik her for oversigt over kompetencer:</b>
        <a href="http://localhost:3500/userskills">Kompetencer</a>
    </div>
</body>
</html>