<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../CSS/Filter.css">
    <link rel="stylesheet" type="text/css" href="../../CSS/Startside.css">
    <header>
        <a href="Brugerside.html"><img id="CCC1" src='../../images/CCC1.png' alt="CCC" width="200" height="100"></a>

        <!-- NavBar -->
        <ul>
            <li><a href="/HTML/Ikke_logget_ind/Startside.html">Hjem</a></li>
            <li><a href="http://localhost:3500/consultants">Konsulenter</a></li>
            <li><a href="http://localhost:3500/Booking.html">Booking</a></li>
            <li><a href="http://localhost:3500/delete.html">Admin</a></li>
        </ul>
    </header>
<body>
    <div>
        <br>
        <font size="6">Opret dig i systemet ved at udfylde nedenstående formular</font>
        <br>
        <br>
        <br>
        <form action="/client_create" method="POST">
            <input placeholder = "Fornavn" name="client_name"/>
            <input placeholder = "Efternavn" name="client_lastname"/>
            <input placeholder= "Kodeord" name="client_password"/>
            <input placeholder= "Email" name="client_Email"/>
            <button>Opret bruger</button>
        </form>
    </div>
    <br>
    <br>
</body>
<body id="body">
    <br>
<b>Type af bruger</b>
    <br>
    <br>
    <table id="myTable">
        <thead>
        <tr>
            <th><b>ID</b></th>
            <th><b>Beskrivelse</b></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="myData"></div>
    <br>
    <br>
    <br>


</body>

<script src="../../Js/TypeOfUsers.js"></script>




</html>